backup/
docs/index.html
docs/html/
projects/visualstudio/CoreEngine/Debug/
projects/visualstudio/CoreEngine/Release/
projects/visualstudio/*.opensdf
projects/visualstudio/*.sdf
projects/visualstudio/*.suo
projects/visualstudio/ipch/
projects/visualstudio/Debug/
projects/visualstudio/Release/
projects/codeblocks/obj/
projects/codeblocks/CoreEngine.depend
projects/codeblocks/CoreEngine.layout
projects/netbeans/nbproject/*.mk
projects/netbeans/nbproject/*.bash
projects/netbeans/nbproject/private/*.mk
projects/netbeans/nbproject/private/launcher.properties
projects/netbeans/nbproject/private/private.xml
projects/netbeans/.dep.inc
projects/netbeans/build/
projects/android/
projects/CoreEngine_msvc.lib
projects/CoreEngine_msvc_debug.lib
projects/libCoreEngine_mingw.a
projects/libCoreEngine_mingw_debug.a
projects/libCoreEngine_gcc_debug.a
projects/libCoreEngine_gcc.a
projects/libCoreEngine_clang.a
projects/libCoreEngine_clang_debug.a
