* text=auto

*.bat         text eol=crlf
*.sh          text eol=lf
*.sln         text eol=crlf
*.vcxproj     text eol=crlf
*.vcxproj.*   text eol=crlf

# image
*.gif         filter=lfs diff=lfs merge=lfs -text
*.ico         filter=lfs diff=lfs merge=lfs -text
*.jpg         filter=lfs diff=lfs merge=lfs -text
*.png         filter=lfs diff=lfs merge=lfs -text
*.svg         filter=lfs diff=lfs merge=lfs -text
*.xcf         filter=lfs diff=lfs merge=lfs -text

# audio
*.mp3         filter=lfs diff=lfs merge=lfs -text
*.ogg         filter=lfs diff=lfs merge=lfs -text
*.wav         filter=lfs diff=lfs merge=lfs -text

# video
*.mkv         filter=lfs diff=lfs merge=lfs -text
*.mp4         filter=lfs diff=lfs merge=lfs -text
*.webm        filter=lfs diff=lfs merge=lfs -text

# font
*.eot         filter=lfs diff=lfs merge=lfs -text
*.otf         filter=lfs diff=lfs merge=lfs -text
*.ttf         filter=lfs diff=lfs merge=lfs -text
*.woff        filter=lfs diff=lfs merge=lfs -text
*.woff2       filter=lfs diff=lfs merge=lfs -text

# model
*.blend       filter=lfs diff=lfs merge=lfs -text
*.md3         filter=lfs diff=lfs merge=lfs -text

# document
*.docx        filter=lfs diff=lfs merge=lfs -text
*.odp         filter=lfs diff=lfs merge=lfs -text
*.ods         filter=lfs diff=lfs merge=lfs -text
*.odt         filter=lfs diff=lfs merge=lfs -text
*.pdf         filter=lfs diff=lfs merge=lfs -text
*.pptx        filter=lfs diff=lfs merge=lfs -text
*.xlsx        filter=lfs diff=lfs merge=lfs -text

# archive
*.7z          filter=lfs diff=lfs merge=lfs -text
*.cfa         filter=lfs diff=lfs merge=lfs -text
*.gz          filter=lfs diff=lfs merge=lfs -text
*.jar         filter=lfs diff=lfs merge=lfs -text
*.zip         filter=lfs diff=lfs merge=lfs -text

# executable
*.a           filter=lfs diff=lfs merge=lfs -text
*.dll         filter=lfs diff=lfs merge=lfs -text
*.elf         filter=lfs diff=lfs merge=lfs -text
*.exe         filter=lfs diff=lfs merge=lfs -text
*.lib         filter=lfs diff=lfs merge=lfs -text
*.so          filter=lfs diff=lfs merge=lfs -text
*.so.*        filter=lfs diff=lfs merge=lfs -text
