backup/
output/
docs/index.html
docs/html/
projects/visualstudio/CoreEngine/Debug/
projects/visualstudio/CoreEngine/Release/
projects/visualstudio/CoreEngine/x64/
projects/visualstudio/*.opensdf
projects/visualstudio/*.sdf
projects/visualstudio/*.suo
projects/visualstudio/.vs/
projects/visualstudio/ipch/
projects/visualstudio/Debug/
projects/visualstudio/Release/
projects/codeblocks/obj/
projects/codeblocks/CoreEngine.depend
projects/codeblocks/CoreEngine.layout
projects/netbeans/nbproject/*.mk
projects/netbeans/nbproject/*.bash
projects/netbeans/nbproject/private/*.mk
projects/netbeans/nbproject/private/launcher.properties
projects/netbeans/nbproject/private/private.xml
projects/netbeans/.dep.inc
projects/netbeans/build/
