#include "winres.h"

VS_VERSION_INFO VERSIONINFO
    PRODUCTVERSION  0,0,1,0
    FILEVERSION     0,0,1,0
    FILEFLAGSMASK   0x3F
    FILEFLAGS       0x00
    FILEOS          VOS_NT_WINDOWS32
    FILETYPE        VFT_APP
    FILESUBTYPE     0x00

BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904B0"
        BEGIN
            VALUE "LegalCopyright",  "Martin Mauersics"
            VALUE "CompanyName",     "Maus Games (www.maus-games.at)"
            VALUE "ProductName",     "Core App"
            VALUE "ProductVersion",  "0.0.1.0"
            VALUE "FileDescription", "Core App"
            VALUE "FileVersion",     "0.0.1.0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x09, 1252
    END
END