IDI_ICON ICON DISCARDABLE "icon.ico"

1 VERSIONINFO
    FILEVERSION     1,0,0,0
    PRODUCTVERSION  0,0,0,0
    FILEFLAGSMASK   0x3fL
    FILEFLAGS       0x0L 
    FILEOS          0x40004L 
    FILETYPE        0x1L 
    FILESUBTYPE     0x0L
BEGIN 
    BLOCK "StringFileInfo" 
    BEGIN 
        BLOCK "040904B0" 
        BEGIN 
            VALUE "CompanyName",     "Maus Games (www.maus-games.at)" 
            VALUE "FileVersion",     "1.0.0.0" 
            VALUE "LegalCopyright",  "Martin Mauersics" 
            VALUE "ProductName",     "Launcher" 
            VALUE "ProductVersion",  "1.0.0.0" 
        END 
    END 
    BLOCK "VarFileInfo" 
    BEGIN 
        VALUE "Translation", 0x0409, 1252 
    END 
END